{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>My Watchlist</h2>
       
    {% for listing in listings %}

    <div class="container-fluid">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-1">
                    {% if user.is_authenticated and not listing.listing.winner%}
                        <form method="post" action="{% url 'remove_from_watchlist' listing.listing.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger watchlist-off">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                                    <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z"/>
                                    <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z"/>
                                </svg>
                            </button>
                        </form>
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <a href="{% url "detail" listing.listing.pk %}">
                        <img src="{{listing.listing.img.url}}" alt="{{listing.listing.title}}" class="img-fluid img-thumbnail" width="200">
                    </a>
                </div>
                <div class="col-md-7">
                    <a href="{% url "detail" listing.listing.pk %}">
                        <div class="card-body">
                            <h3 class="card-title">{{listing.listing.title}}</h3>
                            <ul class="list-unstyled">
                                <li><strong>User:</strong> {{listing.listing.username}}</li>
                                <li><strong>Category:</strong> {{listing.listing.categories}}</li>
                                <li><strong>Price:</strong> <span class="text-danger">$ {{listing.listing.starting_bid}}</span></li>
                                <li><strong>Created:</strong> {{listing.listing.created_date}}</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JavaScript files -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
{% endfor %}

{% endblock %}
