{% extends "auctions/layout.html" %}
{% load static %}


{% block body %}
    <h2>Active Watchlist</h2>
       
    {% for category_lst in watchlist %}

    <div class="container-fluid">
        <a href="{% url "detail" category_lst.listing_id %}" class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{category_lst.listing_id.img.url}}" alt="{{category_lst.listing_id.title}}" class="img-fluid img-thumbnail"  width="200">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">{{category_lst.listing_id.title}}</h3>
                        <ul class="list-unstyled">
                            <li><strong>User:</strong> {{category_lst.listing_id.username}}</li>
                            <li><strong>Category:</strong> {{category_lst.listing_id.categories}}</li>
                            <li><strong>Price:</strong> <span class="text-danger">$ {{category_lst.listitng_id.starting_bid}}</span></li>
                            <li><strong>Created:</strong> {{category_lst.listing_id.created_date}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </a>
    </div>

    <!-- Agrega los enlaces a los archivos JavaScript de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
    {% endfor %}

{% endblock %}