textarea {
  min-height: 400px;
}

.single-email {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  height: 30px;
  border: 2px solid black;
  margin-top: 10px;
}

.sender-recipient {
  font-weight: bold;
}

.timestamp {
  font-weight: 600;
  color: #c5baba;
}
