body {
    padding: 10px;
}
.list{
    display: inline-block;
}

.watchlist{
    display: inline-flex;
    margin-bottom: 1rem;
}

.watchlist-on{
    margin-right: 0.5rem;
}

.message {
    font-size: 18px;
    color: rgb(158, 20, 20); /* Change the color to your preferred style */
    /* Add other CSS styles as needed */
}