#nav-bar{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-item{
    margin: 15px;

}

.nav-item-adv{
    margin-top: -30px;
    margin-right: 25px;
}

.nav-logo{
    margin-top:30px;
    margin-left: 20px ;
    height: 24px;
    width: 74px;
    display: inline-block;
    vertical-align: middle;
}
.btn:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

/* unvisited link */
a:link {
    color: rgb(0, 0, 0,.87);
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: rgb(0, 0, 0,.87);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(0, 0, 0,.87);
    text-decoration: underline;
  }
  
  /* selected link */
  a:active {
    color: rgb(0, 0, 0,.87);
  }

  img{
    width: 272px;
    height: 92px;
  }

.search{
    display:flex;
    justify-content: center;
}
.input{
    margin-top: 25px;
}
.input-bar{
    display: flex;
    z-index: 3;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: calc(632px + 6px);
    width: 584px;
    height: 48px;
    max-width: 584px;
    margin-top: 30px;
    font-size: 16px;
    flex:100%;
    
}
.btn {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img{
    margin-top: 180px;
    object-position: center bottom;
    width: auto;
}
.img-w{
    color: #4487f6;
    font: 16px/16px roboto-regular, arial, sans-serif;
    margin-left: 210px;
    margin-top: -15px;
    white-space: nowrap;
}

#adv-search{
    font-family: Arial, sans-serif ;

}        html,body,div,label, h2, span{
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}


#header-title{

    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

#line{
    border-bottom: 1px solid #ebebeb;
}

#subtitle{
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

#container{
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;

}

.subtitle-container{
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
}

.form {
    align-items: center;
    margin-top: 20px;
}

.lbform{
    color: #222;
    font-size: 13px;
    line-height: 16px;
    margin:75px;
    margin-left: 0;
}

#exact{
    margin-right: 18px;
}#any{
    margin-right: 55px;
}
#none{
    margin-right: 48px}

.inpt{
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    margin: 30%,0,0,0;
    width: 50%;
}
#form-submit{
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align:middle;
    width: 50%;
    margin-top: 30px;
    margin-left: 190px;
}

#adv-btn{
    user-select: none;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    float: right;
    padding: 0 12px;
    margin:50px, 0 ;
    border: 1px solid #3079ed;
    color: #fff;
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

#adv-btn:hover{
    background-color: #357ae8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
    background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
    border: 1px solid #2f5bb7;
    -webkit-border-image: initial;
    border-image: initial;

}