{% extends "network/layout-auth.html" %}
{% block register %}
    <!-- LOGIN -->
    <div id="modal-login" class="modal ">
        <div class="modal-container">
            <a href="{% url "index" %}">
                <button class="button-close-modal">x</button>
            </a>
            <span class="logo-twitter-modal">
                <i class="fa-brands fa-x-twitter"></i>
            </span>
            {% if message %}<div>{{ message }}</div>{% endif %}
            <form class="modal-content" action="{% url "login" %}" method="post">
                {% csrf_token %}
                <h2 class="mt-20">Sign in to X</h2>
                <p class="button-group">
                    <button class="mt-20 button-bg-white">
                        <i class="fa-brands fa-google"></i>
                        <span>Sign in with Google</span>
                    </button>
                    <button class="mt-10 button-bg-white">
                        <i class="fa-brands fa-apple"></i>
                        <span>Sign in with Apple</span>
                    </button>
                    <span class="mt-10 text-center">or</span>
                    <input class="mt-10"
                           type="text"
                           name="username"
                           placeholder="Phone, email, or username" />
                    <input class="mt-10" type="Password" name="password" placeholder="Password" />
                    <button type="submit" value="Login" class="mt-10 button-bg-blue">Login</button>
                    {% comment %} <button class="mt-10 button-bg-transparent">Forgot password?</button> {% endcomment %}
                </p>
                <p class="mt-30 text-muted">
                    Don't have an account?
                    <a href="{% url "register" %}"
                       class="text-blue button-link button-create-account">Sign up</a>
                </p>
            </form>
        </div>
    </div>
{% endblock register %}
