{% extends "network/layout.html" %}
{% block body %}
    <div class="container">
        <h2>Login</h2>
        {% if message %}<div>{{ message }}</div>{% endif %}
        <form action="{% url 'login' %}" method="post">
            <input autofocus
                   type="text"
                   name="username"
                   id="username"
                   placeholder="username">
            <input type="password" name="password" id="pass" placeholder="password">
            <div class="btns">
                <button type="submit" value="Login">Login</button>
                <a href="{% url "register" %}">
                    <button type="button" id="sign-up">Sign Up</button>
                </a>
            </div>
        </form>
    </div>
{% endblock body %}
