{% extends "network/layout.html" %}
{% block register %}
    <!-- REGISTER -->
    <div id="modal-register" class="modal display-hidden">
        <div class="modal-container">
            <a href="{% url "index" %}">
                <button class="button-close-modal">x</button>
            </a>
            <span class="logo-twitter-modal">
                <i class="fa-brands fa-x-twitter"></i>
            </span>
            <div class="modal-content">
                <h2 class="mt-20">Join X today</h2>
                <p class="button-group">
                    <button class="mt-20 button-bg-white">
                        <i class="fa-brands fa-google"></i>
                        <span>Sign up with Google</span>
                    </button>
                    <button class="mt-10 button-bg-white">
                        <i class="fa-brands fa-apple"></i>
                        <span>Sign up with Apple</span>
                    </button>
                    <span class="mt-10 text-center">or</span>
                    <button class="mt-10 button-bg-blue button-create-account">Create account</button>
                </p>
                <p class="mt-10 text-muted">
                    By signing up, you agree to the
                    <a href="#" class="text-blue">Terms of Service</a> and
                    <a href="#" class="text-blue">Privacy Policy</a>, including
                    <a href="#" class="text-blue">Cookie Use.</a>
                </p>
                <p class="mt-30 text-muted">
                    Already have an account?
                    <a class="text-blue button-link button-login-account"
                       href="{% url "login" %}">Sign in</a>
                </p>
            </div>
        </div>
    </div>
{% endblock register %}
