{% extends "network/layout.html" %}
{% block body %}
    <div class="container">
        <h2>Registration</h2>
        {% if message %}<div>{{ message }}</div>{% endif %}
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input autofocus
                   type="text"
                   name="username"
                   id="username"
                   placeholder="username">
            <input type="email" name="email" id="email" placeholder="Email Address">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="password"
                   name="confirm-pass"
                   id="confirm-pass"
                   placeholder=" confirm password">
            <div class="btns">
                <button type="submit" value="Register">Register</button>
                <a href="{% url "login" %}">
                    <button type="button" id="login">Login</button>
                </a>
            </div>
        </form>
    </div>
{% endblock body %}
