{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
    <h1>Edit page</h1>
    <form action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <label >Title: </label>
        <input type="text" name="title" placeholder="Edit title" value={{title}}>
        <br>
        <label >Content:</label>
        <br>
        <textarea name="content"  cols="10" rows="10">{{content}}</textarea>
        <br>
        <input type="submit" value="Edit">

    </form>

{% endblock %}